* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.login {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  height: 100%;
}

.login__media {
  width: 70%;
  height: 100%;
}

.media_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  width: 175px;
}

p {
  font-size: 14px;
}
