dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  &::backdrop {
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

.popup__content {
  display: flex;
  flex-direction: column;
}

.popup__header {
  display: flex;
  align-items: center;
  width: 100%;
}

.popup__title {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}

.popup__close {
  width: 10px;
  margin-left: auto;
  cursor: pointer;
}

.popup__body {
  margin-top: 20px;
  width: 100%;
}
