input {
  padding: 12px 15px;
  align-items: flex-start;
  border: none;
  width: 100%;
  border-radius: 6px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #777;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  color: #1a1a1a;
}

.input_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #dfe3e8;
}
