input {
  padding: 12px 0px;
  align-items: flex-start;
  border: none;
}

input:focus {
  outline: none;
  border: 1px solid #ff6969;
  padding: 11px 0px;
}

input::placeholder {
  color: #777;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  color: #1a1a1a;
}

.input_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #dfe3e8;
  padding: 0 15px;
}
