.dashboard__row {
  display: flex;
  flex-direction: row;
  padding: 10px 5px;
  font-size: 14px;
  align-items: center;
  margin: 0 auto;
}

.dashboard__row.title {
  font-weight: 600;
  color: #016a70;
  border-bottom: 1px solid #e8eff9;
  padding: 10px 5px;
}

.row__item.sort_item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.row__item.sort_item img {
  width: 18px;
  height: 18px;
  transition: all ease 0.3s;
  transform: rotate(0deg);
}

.row__item.sort_item img.active {
  transform: rotate(180deg);
  transition: all ease 0.3s;
}

.row__item.user_management img {
  width: 35px;
  height: 35px;
  transition: all ease 0.3s;
  border-radius: 10px;
  transform: rotate(0deg);
}

.row__item.transaction_manager img {
  width: 40px;
  height: 40px;
  transition: all ease 0.3s;
  border-radius: 10px;
  transform: rotate(0deg);
}

.row__item.field_manager:hover {
  cursor: pointer;
}

